.controls {
	display: flex;
	align-items: center;
	z-index: 600;
	margin-left: 0.75rem;
	margin-right: 0.75rem;
	margin-top: 0.25rem;
	margin-bottom: 0.75em;
}

.bar {
	width: 100%;
	margin: 0.5rem 0;
	height: 2px;
	background: #444;
	cursor: pointer;
	border: 4px solid black;
	border-left: none;
	border-right: none;
}

.pos {
	background: white;
	height: 2px;
	border-radius: 1px;
}

.time {
	font-size: 0.75rem;
	margin-left: 1rem;
	white-space: nowrap;
}

.play {
	background: black;
	margin-right: 0.5rem;
	cursor: pointer;
	position: relative;
	bottom: 2px;
	outline: none;
	border: none;
	height: 16px;
	width: 16px;
	padding: 0;
}

.play svg {
	fill: white;
	cursor: pointer;
}
