.login {
	padding: 3rem 4rem;
	outline: 1px solid red;
	height: 100vh;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10000;
	background: black;
	opacity: 0;
	transition: opacity 500ms;
	pointer-events: none;

	&.show {
		pointer-events: auto;
		opacity: 1;
	}

	input {
		background: white;
		border: none;
		box-sizing: border-box;
		padding: 0.5rem;
		height: 2.5rem;
		font: inherit;
		width: 100%;
		border-radius: 0;
		margin-bottom: 1rem;
		outline: none;
	}

	label {
		font-size: 0.85rem;
		font-weight: bold;
		text-transform: uppercase;
	}

	button {
		font: inherit;
		color: black;
		border: none;
		padding: 0.5rem 1rem;
		box-sizing: border-box;
		padding: 0.5rem;
		height: 2.5rem;

		font-size: 0.85rem;
		font-weight: bold;
		text-transform: uppercase;
	}

	button[type="button"] {
		background: none;
		text-align: left;
		color: white;
		position: fixed;
		top: 0.3rem;
		left: 0.3rem;
		display: inline-flex;
		cursor: pointer;
	}
}
