.login {
	padding: 3rem 4rem;
	outline: 1px solid red;
	height: 100vh;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;

	input {
		background: white;
		border: none;
		box-sizing: border-box;
		padding: 0.5rem;
		height: 2.5rem;
		font: inherit;
		width: 100%;
		border-radius: 0;
		margin-bottom: 1rem;
		outline: none;
	}

	label {
		font-size: 0.85rem;
		font-weight: bold;
		text-transform: uppercase;
	}

	button {
		font: inherit;
		color: black;
		border: none;
		padding: 0.5rem 1rem;
		box-sizing: border-box;
		padding: 0.5rem;
		height: 2.5rem;

		font-size: 0.85rem;
		font-weight: bold;
		text-transform: uppercase;
	}
}
