.empty {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 3em;
	box-sizing: border-box;
}

.empty svg {
	width: 24px;
	height: 24px;
	fill: none;
	stroke: currentColor;
	stroke-width: 2;
}

.show {
	overflow-y: auto;
	width: 100vw;
	height: 100vh;
}

.top {
	position: relative;
	animation: enter 500ms;
}

@keyframes enter {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.image {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
}

.footer {
	position: absolute;
	bottom: 1rem;
	left: 0.5rem;
	right: 0.5rem;
	z-index: 10;
}

.name {
	background: black;
	font-size: 1.25em;
	line-height: 1.3;
	padding: 0.25rem 0.5rem;
	box-decoration-break: clone;
	font-weight: bold;
	text-transform: uppercase;
	-webkit-box-decoration-break: clone;
}

.location {
	background: black;
	font-size: 0.8rem;
	font-weight: bold;
	display: inline-block;
	text-transform: uppercase;
	padding: 0.1rem 0.3rem 0.05rem 0.3rem;
	margin-bottom: 0.5rem;
}

.location:empty {
	display: none;
}

.header {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	display: flex;
}

.date {
	padding: 0.25rem 0.5rem;
	background: black;
	color: white;
}

.tracklist {
	padding: 0;
}

.tracklist ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.tracklist li {
	padding: 0.25rem 0.5rem;
	transition: background 200ms;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tracklist li:hover {
	background: rgba(76, 76, 76, 0.35) !important;
}

.tracklist li:active {
	background: rgba(76, 76, 76, 0.45);
}

.artist {
	text-transform: uppercase;
	font-weight: bold;
	flex-shrink: 1;
	overflow: hidden;
	text-overflow: ellipsis;
}

.notracklist {
	text-align: center;
	padding: 0.5rem 0;
	font-size: 0.75rem;
}

.nav {
	position: relative;
	top: 1rem;
	font-size: 0.85em;
}

.nav button {
	background: none;
	border: none;
	font: inherit;
	color: inherit;
	text-transform: inherit;
	letter-spacing: inherit;
	outline: none;
	cursor: pointer;
}

.nav button:first-child {
	margin-right: 1rem;
}

.time {
	display: inline-flex;
	align-items: center;
	justify-content: end;
	font-weight: normal;
	gap: 0.2rem;
	font-size: 0.7rem;
	display: flex;
	flex-shrink: 0;
	min-width: 38px;
}

.time .play {
	height: 0.6rem;
	vertical-align: center;
	display: none;
}

.time:hover .play {
	display: inline-block;
}

.time:hover .indicator {
	display: none;
}

.active {
	background: rgba(76, 76, 76, 0.25);
}

@keyframes pulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.indicator {
	color: red;
	animation: pulse 3000ms reverse infinite;
}
