.toasts {
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 4px;
	display: flex;
	flex-direction: column;
	gap: 3px;
}

.toast {
	transition: opacity 500ms, height 500ms;

	height: 0;

	.inner {
		background: #222;
		color: #eee;
		padding: 0.3rem 0.5rem;
		border-radius: 6px;
		font-size: 0.85rem;
		box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
		height: 1.5rem;
		line-height: 1.5rem;

		transition: transform 300ms, opacity 500ms;
		will-change: height;
	}

	&.error {
		.inner {
			background: #440000;
			color: #ffdddd;
		}
	}
}

.enter {
	opacity: 0;
	height: 0;

	.inner {
		transform: scale(0.8);
		opacity: 0;
	}
}

.enterActive,
.enterDone {
	opacity: 1;
	height: 2.1rem;

	.inner {
		transform: scale(1);
		opacity: 1;
	}
}

.exit {
	opacity: 1;
}
.exitActive {
	opacity: 0;
}
