.indicator {
	color: red;
	animation: pulse 3000ms reverse infinite;
	display: inline-block;
	padding: 0 0.2rem;
	position: relative;
	top: -1px;
}

@keyframes pulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
