.prev,
.next {
	position: fixed;
	top: 0;
	bottom: 0;

	z-index: 50;
	width: 1rem;
	border: none;
	cursor: pointer;
	outline: none;

	opacity: 0;
	transition: opacity 200ms, background 200ms;
}

.next {
	right: 0;
	background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.25));
}

.prev {
	left: 0;
	background: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.25));
}

.prev:hover,
.next:hover {
	opacity: 1;
}
