.prev,
.next {
	position: fixed;
	top: 0;
	bottom: 0;

	z-index: 50;
	width: 1rem;
	border: none;
	cursor: pointer;
	outline: none;
	background: none;
	text-align: center;
	padding: 0;

	opacity: 0.15;
	transition: opacity 200ms, background 200ms;
}

.next {
	right: 0;
}

.prev {
	left: 0;
}

.prev:hover,
.next:hover {
	opacity: 1;
}
