.channel {
	position: relative;
}

.image {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
}

.header {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	background: black;
	display: flex;
	padding: 0.25rem;
	padding-right: 0.5rem;
}

.ch {
	background: white;
	color: black;
	width: 2rem;
	height: 2rem;
	text-align: center;
	line-height: 2rem;
	display: inline-block;
	margin-right: 0.5rem;
	font-weight: 900;
	font-size: 1.2rem;
}

.live {
	font-weight: 900;
	font-size: 0.7rem;
}

.dot {
	background: #e81717;
	display: inline-block;
	border-radius: 100%;
	width: 0.35rem;
	height: 0.35rem;
	position: relative;
	bottom: 1px;
	animation-name: flashing;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes flashing {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.footer {
	position: absolute;
	bottom: 1rem;
	left: 0.5rem;
	right: 0.5rem;
}

.name {
	background: black;
	font-size: 1.25em;
	line-height: 1.3;
	padding: 0.25rem 0.5rem;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
}

.location {
	background: black;
	display: inline-block;
	padding: 0.25rem 0.5rem;
	margin-bottom: 0.5rem;
}

.location:empty {
	display: none;
}
