@font-face {
	font-family: "UniversCondensed";
	src: local("UniversCondensed"), url(./UniversCondensed.woff) format("woff");
}

body {
	font-family: "UniversCondensed";
	text-transform: uppercase;
	background: black;
	color: white;
	padding: 0;
	margin: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
	letter-spacing: 1px;

	user-select: none;
	overflow: hidden;
}
