.empty {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 3em;
	box-sizing: border-box;
}

.show {
	overflow-y: auto;
	width: 100vw;
	height: 100vh;
}

.top {
	position: relative;
}

.image {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
}

.footer {
	position: absolute;
	bottom: 1rem;
	left: 0.5rem;
	right: 0.5rem;
	z-index: 10;
}

.name {
	background: black;
	font-size: 1.25em;
	line-height: 1.3;
	padding: 0.25rem 0.5rem;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
}

.location {
	background: black;
	display: inline-block;
	padding: 0.25rem 0.5rem;
	margin-bottom: 0.5rem;
}

.date {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	padding: 0.25rem 0.5rem;
	background: black;
	color: white;
}

.tracklist {
	padding: 0.5rem;
}

.tracklist ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.tracklist li {
	margin-bottom: 0.5rem;
}

.artist {
	font-weight: bold;
}
