.splash {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background: black;
	transition: opacity 500ms;
	opacity: 1;
}

.hide {
	opacity: 0;
	pointer-events: none;
}

.logo {
	width: 60px;
	height: 60px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
