name: CI/CD
on:
  pull_request: {}
  push:
    tags:
      - v*.*.*
jobs:
  typecheck:
    name: Typecheck
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v3
      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version-file: .tool-versions
          cache: yarn
      - name: Install dependencies
        run: yarn install --immutable --prefer-offline
      - name: Typecheck
        run: make typecheck

  formatting:
    name: Formatting
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v3
      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version-file: .tool-versions
          cache: yarn
      - name: Install dependencies
        run: yarn install --immutable --prefer-offline
      - name: Typecheck
        run: make formatting

  build:
    name: Build
    runs-on: macos-latest
    steps:
      - name: Check out
        uses: actions/checkout@v3
      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version-file: .tool-versions
          cache: yarn
      - name: Install dependencies
        run: yarn install --immutable --prefer-offline
      - name: Set version
        if: startsWith(github.ref, 'refs/tags/')
        run: yarn version --no-git-tag-version --new-version "${GITHUB_REF:11}"
      - name: Build renderer
        run: make build packages
        env:
          NODE_OPTIONS: --openssl-legacy-provider
      - name: Build Electron app
        run: make app
      - name: Upload app
        uses: actions/upload-artifact@v3
        with:
          name: app
          path: bundle

  release:
    name: Release
    needs:
      - typecheck
      - formatting
      - build
    runs-on: macos-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Check out
        uses: actions/checkout@v3
      - name: Download app
        uses: actions/download-artifact@v3
        with:
          name: app
          path: bundle
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: bundle/NTS Desktop-*.dmg
        env:
          GITHUB_TOKEN: ${{ secrets.github_token }}
